# EditorConfig works out of the box with many editors, plugins are available
# for many others - see the website:
# https://EditorConfig.org

root = true

[*]
charset = utf8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{json,jsonc,json5,yml,yaml,Dockerfile}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{json,pdf.link}]
max_line_length = off
